<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  
  <title>Presto</title>
  <meta name="theme-color" content="#B5CB99"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/tablet.css">
  <link rel="stylesheet" href="../styles/mobile.css">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

</head>

<body>

  <nav class="off-canvas" id="myNav">
    <a href="#title-link" tabindex="0" class="skip-link">Langsung ke konten</a>
    <a class="drawer" href="#" id="drawer">☰</a>
    <label class="logo">Presto</label>
    <ul class="menu" id="drawer-menu">
      <li><a href="/">Home</a></li>
      <li><a href="#/favorite">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/purnamaashr/">About Us</a></li>
    </ul>
  </nav>

  <main id="main" tabindex="0">
    <h1 class="explore-title">Restaurant Explore</h1>
    <div class="container">
      <div id="restaurant-cards" class="grid">
      </div>
    </div>
  </main>

  <footer>Copyright &copy Purnama Ashari 2023 Dicoding x SIB Batch 5</footer>
  
  <script type="module" src="../scripts/index.js"></script>
  
 
</body>

</html>